{% extends 'base/base.html' %}
{% block title %}ToDo List{% endblock title %}

{% block content %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>
                <h4>{{object.name}}</h4>
            </td>
            <td>
                {% if object.status == False %}
                <h4 class="text-danger">Task Not Finished</h4>
                {% else %}
                <h4 class="text-success">Task Finished</h4>
                {% endif %}
            </td>
            <td class="d-flex gap-2">
                <form action="{% url 'delete' object.id %}" method="post">
                    {% csrf_token %}
                    <button type='submit' name="delete" value="Delete" class="btn btn-secondary">Delete</button>
                </form>
                <form action="{% url 'update' object.id %}" method="post">
                    {% csrf_token %}
                    {% if object.status == False %}
                    <button type='submit' name="update" value="True" class="btn btn-success">Finished</button>
                    {% else %}
                    <button type='submit' name="update" value="False" class="btn btn-danger">Not Finished</button>
                    {% endif %}
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="mt-5 text-center">
    <form class="d-flex gap-2 justify-content-center" action="" method="post">
        {% csrf_token %}
        {{form}}
        <button type='submit' value="add" class="btn btn-dark">Add To Do</button>
    </form>
</div>
{% endblock content %}